.glow {
  --primary-color: rgba(255, 217, 208, 0.4);
  --secondary-color: rgba(205, 253, 255, 0.4);
  position: relative;
  display: grid;
  place-items: center;
  transition: box-shadow 800ms;
  transition-timing-function: ease-in-out;
}

.glow::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.glow:hover {
  z-index: 0;
  box-shadow: 1rem 0 3rem var(--secondary-color), 0 0 3rem var(--primary-color);
}
